name: Build and Push Docker Images

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    strategy:
      max-parallel: 20
      fail-fast: false
      matrix:
        minecraft_versions:
          - '1.20.1'
          - '1.19.4'
          - '1.19.3'
          - '1.19.2'
          - '1.19.1'
          - '1.19'
          - '1.18.2'
          - '1.18.1'
          - '1.18'
          - '1.17.1'
          - '1.17'
          - '1.16.5'
          - '1.16.4'
          - '1.16.3'
          - '1.16.2'
          - '1.16.1'
          - '1.15.2'
          - '1.15.1'
          - '1.15'
          - '1.14.4'
          - '1.14.3'
          - '1.14.2'
          - '1.14.1'
          - '1.14'
          - '1.13.2'
          - '1.13.1'
          - '1.13'
          - '1.12.2'
          - '1.12.1'
          - '1.12'
          - '1.11.2'
          - '1.11'
          - '1.10.2'
          - '1.9.4'
          - '1.9.2'
          - '1.9'
          - '1.8.8'
          - '1.8.3'
          - '1.8'

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to GitHub Packages
        run: echo ${{ secrets.GCHR_TOKEN }} | docker login ghcr.io -u ${{ secrets.GCHR_USERNAME }} --password-stdin

      - name: Login to Docker Hub
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      - name: Build Docker image
        run: |
          for version in "${{ matrix.minecraft_versions }}"; do
            docker build --build-arg version=${version} -t svantle/docker-minecraft-java:${version} .
          done

      - name: Push Docker images to Docker Hub
        run: |
          for version in "${{ matrix.minecraft_versions }}"; do
            docker tag svantle/docker-minecraft-java:${version} svantle/docker-minecraft-java:${version}
            docker push svantle/docker-minecraft-java:${version}
          done
        
      - name: Push Docker images to Docker Hub
        run: |
          for version in "${{ matrix.minecraft_versions }}"; do
            docker tag svantle/docker-minecraft-java:${version} gchr.io/svantle/docker-minecraft-java:${version}
            docker push ghcr.io/svantle/docker-minecraft-java:${version}
          done